# See https://github.com/mozilla/cbindgen/blob/master/docs.md#cbindgentoml

language = "C"
cpp_compat = true
# The header attribute is set in the build script.
#header = "/* ... */"
include_guard = "__blazesym_h_"
usize_is_size_t = true

[export]
item_types = ["globals", "enums", "structs", "unions", "typedefs", "opaque", "functions"]

[export.rename]
"Addr" = "uint64_t"
"Inspector" = "struct blaze_inspector"
"Normalizer" = "struct blaze_normalizer"
"Symbolizer" = "struct blaze_symbolizer"

[fn]
args = "Vertical"
